server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/demo
    username: postgres
    password: lijkn024
    driver-class-name: org.postgresql.Driver


  data:
    redis:
      host: localhost
      port: 6379
      password: lijkn024
      connect-timeout: 5s

  


